body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden; /* disable scrolling / rubberband effect on mobile */
}

canvas {
    display: block;
    position: absolute;
    outline:0;
}

#date-stat{
    position: absolute !important;
    bottom: 20px;
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    padding-left: 20px;
    color: rgb(132, 255, 0);
}
#time{
    position: absolute !important;
    bottom: 20px;
    right: 40px;
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    color: rgb(132, 255, 0);
}
#title{
    position: absolute !important;
    top: 30px;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2vw;
    color: rgb(144, 247, 70);
    -webkit-text-stroke-color: rgb(144, 247, 70);
    -webkit-text-stroke-width: .4px;
}
#name{
    position: absolute !important;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    color: rgb(144, 247, 70);
}

* {
    /* disable on touch highlights of html elements, especially on mobile! */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}